{% extends "dot_app/_base.html" %}
{% block title %}
    {{ ticker }}
{% endblock %}
{% block content %}
    <div>
        <a href="/{{ ticker }}/insider">Insider-Trades</a>

        <table>
            <caption> company {{ ticker }} </caption>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close / Last</th>
                <th>Volume</th>
            </tr>

            {% for record in ticker_historical %}
            <tr>
                <th>{{ record.date }}</th>
                <th>{{ record.open }}</th>
                <th>{{ record.high }}</th>
                <th>{{ record.low }}</th>
                <th>{{ record.close }}</th>
                <th>{{ record.volume }}</th>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ ticker }}/analytics?date_from=2018-01-08&date_to=2018-01-11"> Аналитика </a>
    </div>
{% endblock %}