{% extends "dot_app/_base.html" %}
{% block title %}
    {{ insider_name }}
{% endblock %}
{% block content %}
    {{ticker_insider}}
    <div>
        <table>
            <caption> company {{ ticker }} </caption>
            <tr>
                <th>Insider	Relation</th>
                <th>Last Date</th>
                <th>Transaction Type</th>
                <th>OwnerType</th>
                <th>Shares Traded</th>
                <th>Last Price</th>
                <th>Shares Held</th>
            </tr>

            {% for record in insider_data %}
            <tr>
                <th><a href="/{{ ticker }}/insider/{{ record.insider }}">{{ record.insider }}</a></th>
                <th>{{ record.last_date }}</th>
                <th>{{ record.trans_type }}</th>
                <th>{{ record.owner_type }}</th>
                <th>{{ record.shares_traded }}</th>
                <th>{{ record.last_price }}</th>
                <th>{{ record.shares_held }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}